$background-color: #f5f5f5;

$text-primary: #000;
$text-secondary: #333;

$button-primary-hover: #383838;
$button-secondary-hover: #f2f2f2;
$button-secondary-border: #ebebeb;

$primary-january: #817;
$primary-february: #a35;
$primary-march: #c66;
$primary-april: #e94;
$primary-may: #ed0;
$primary-june: #9d5;
$primary-july: #4d8;
$primary-august: #2cb;
$primary-september: #0bc;
$primary-october: #09c;
$primary-november: #36b;
$primary-december: #639;