@use "../../../styles/mixins" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include monthly-background(1);
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    height: auto; // Ensure logo scales nicely
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
}

.link {
  @include monthly-text(2);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: var(--foreground);
  }
}