.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bg-secondary);
  padding: 0.5rem 1rem;
  color: var(--text-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    height: auto;
    text-transform: uppercase;
    font-weight: bold;

    .link {
      font-size: 1.25rem;
      text-decoration: none;
      color: var(--text-primary);
    }
  }
}

.navLinks {
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 10px 0px;
    margin: 0;

    .link {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      color: var(--text-primary);

      &:hover {
        color: #0284c7;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 1rem 2rem;

    .logoContainer {
      h1 {
        font-size: 1.25rem;
      }
    }
  }
}
