.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--bg-sidebar-header);
  padding: 0.5rem 1rem;
  color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    height: auto;

    h1 {
      font-size: 1rem;
    }
  }
}

.navLinks {
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 10px 0px;
    margin: 0;

    .link {
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
