$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$transition-speed: 0.4s;
$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

.container {
  display: flex;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.sidebar {
  background-color: var(--bg-sidebar-header);
  color: whitesmoke;
  width: $sidebar-width;
  height: 100vh;
  position: sticky;
  top: 0;
  transition: width $transition-speed $transition-timing;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;

  &.collapsed {
    width: $sidebar-collapsed-width;

    .label {
      opacity: 0;
      visibility: hidden;
      width: 0;
      transition:
        opacity 0.15s ease,
        visibility 0s 0.15s,
        width 0s 0.15s;
    }

    .toggleButton {
      justify-content: center;
      padding: 15px;
    }

    .navLinks {
      .navItem a {
        justify-content: center;
        padding: 15px 10px;
      }
    }
  }
}

.toggleButton {
  background: none;
  border: none;
  color: whitesmoke;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
  transition: all $transition-speed $transition-timing;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;

  .navItem {
    width: 100%;

    a {
      display: flex;
      align-items: center;
      padding: 15px 25px;
      text-decoration: none;
      color: whitesmoke;
      transition: background 0.2s ease-in-out;
      white-space: nowrap;
      overflow: hidden;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.icon {
  margin-right: 15px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 24px;
  flex-shrink: 0;
}

.label {
  font-size: 1rem;
  transition:
    opacity $transition-speed $transition-timing,
    visibility $transition-speed $transition-timing,
    width $transition-speed $transition-timing;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  white-space: nowrap;
}
