$size: 75px;
$perspective: 100px;
$transition-duration: 0.8s;
$shadow-color: rgba(0, 0, 0, 0.1);

.wrapper {
  width: $size;
  height: $size;
  perspective: $perspective;

  &:hover .inner {
    transform: rotateY(180deg);
  }
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform $transition-duration cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    filter: drop-shadow(0 5px 10px $shadow-color);
  }
}

.back {
  transform: rotateY(180deg);
}
